/* srart variables */
:root {
    --main-color:#10cab7;
    --section-background: #f6f6f6;
    --secondary-color:#2c4755;
    --section-padding:60px;
    --line-height:1.6;
}
/* end variables */
/* start global rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: "work sans" , sans-serif;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}

/* small */

@media (min-width: 768px){
    .container{
        width: 750px;
    }
}

/* medium */

@media (min-width: 992px){
    .container{
        width: 970px;
    }
}

/* large */

@media (min-width: 1200px){
    .container{
        width: 1170px;
    }
}

/* end global rules */
/* start componants */
.spcial-heading {
    font-size: 100px;
    font-weight: bold;
    text-align: center;
    color: #ebeced;
    letter-spacing: -3px;
    margin: 0;
}
.spcial-heading + p {
    text-align: center;
    color: #797979;
    margin: -30px 0 0;
    font-size: 20px;
}
@media(max-width: 768px){
    .spcial-heading {
        font-size: 60px;
    }
    .spcial-heading + p {
        margin: -20px 0 0;
    }

}
/* end componants */
/* start header */
header {
    padding: 20px;
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .container .logo {
    width: 60px;
}
header .container .links {
    position: relative;
}
header .container .links .icon {
    width: 30px;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}
header .links:hover .icon span:nth-child(2) {
    width: 100%;
}
header .links .icon span {
    height: 2px;
    background-color: black;
    margin-bottom: 5px;
}
header .links .icon span:first-child {
    width: 100%;
}
header .links .icon span:nth-child(2) {
    width: 60%;
    transition: 0.5s;
}
header .links .icon span:last-child {
    width: 100%;
}
header .container .links ul {
    transition: 0.5s;
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    right: 0;
    top: calc(100% + 15px); 
    width: 200px;
    background-color: #f6f6f6;
    display: none;
    -webkit-appearance: none;
    appearance: none;
    z-index: 1;
}
header .container .links ul::before {
    content: "";
    position: absolute;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #f6f6f6 transparent;
    right: 5px;
    top: -20px;
}
header .links:hover  ul {
    display: block;
  } 
header .links ul li:not(:last-child){
    border-bottom: 1px solid #ddd;
}
header .links ul li a {
    color: #333;
    padding: 15px;
    display: block;
    text-decoration: none;
    transition: 0.5s;
}
header .links ul li a:hover {
    padding-left: 25px;
}
/* end header */
/* start landing section  */
.landing {
    background-image: url("../images/photo.jpg");
    background-size: cover;
    height: calc(100vh - 64px);
    position: relative;
}
.landing .intro-text {
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    width: 320px;
    max-width: 100%;
  }
.landing .intro-text h1 {
    font-size: 50px;
    color: var(--main-color);
    margin: 0;
    font-weight: bold;
}
.landing .intro-text p {
    font-size: 19px;
    line-height: 1.8;
    font-weight: 700;
} 
/* end landing section */
/* start features section */
.features {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--section-background);
}
.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    gap: 20px;
}
.features .card {
    padding: 20px;
    text-align: center;
}
.features .card i {
    color: var(--main-color);
    font-size: 40px;
}
.featuress .card h3 {
    font-weight: 800;
    margin: 30px 0;

}
.features .card p {
    line-height: var(--line-height);
    color: #777;
    font-size: 17px;
}
/* end features section */
/* start services section */
.services {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.services .services-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    gap: 30px;
    margin-top: 100px;
} 
.services .services-content .col .srv {
    display: flex;
    margin-bottom: 40px;
}
@media (max-width:797px) {
    .services .services-content .col .srv  {
        flex-direction: column;
        text-align: center;
    }
}
.services .services-content .col .srv i {
    font-size: 40px;
    color: var(--main-color);
}
.services .services-content .col .srv .text {
    margin-left: 30px;
    
}
.services .services-content .col .srv .text h3 {
    margin-top: 0;
    margin-bottom: 20px;
}
.services .services-content .col .srv .text p {
    color: #777;
    line-height: var(--line-height);
}
.services .services-content .col .image {
    position: relative;
    text-align: center;
}
.services .services-content .col .image::before {
    content: "";
    position: absolute;
    width: 100px;
    height: calc(100% + 100px);
    right: 0;
    top: -50px;
    background-color: var(--secondary-color);
    z-index: -1;
}
.services .services-content .col img {
    width: 260px;
}
@media (max-width:1199px) {
    .services .services-content .image-column  {
        display: none;
    }
}
/* end services section */
/* start portfolio section */
.portfolio {
    padding-top: var(--section-padding);
    padding-bottom:var(--section-padding);
    background-color: var(--section-background);
}
.portfolio .portfolio-content {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    gap: 20px;
}
.portfolio .portfolio-content .project {
    background-color: white;
}
.portfolio .portfolio-content .project img {
    max-width: 100%;
}
.portfolio .portfolio-content .project .info {
    padding: 20px;
}
.portfolio .portfolio-content .project h3 {
   margin: 0;
}
.portfolio .portfolio-content .project p {
    line-height: var(--line-height);
    color: #777;
    margin-bottom: 0;
}
/* end portfolio section */
/* start about section */
.about {
    padding-top: var(--section-padding);
    padding-bottom: calc(var(--section-padding) + 60px);
  }
  .about .about-content {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-top: 100px;
  }
  @media (max-width: 991px) {
    .about .about-content {
      flex-direction: column;
      text-align: center;
    }
  }
  .about .about-content .image {
    position: relative;
    width: 250px;
    height: 375px;
  }
  @media (max-width: 991px) {
    .about .about-content .image {
      margin: 0 auto 60px;
    }
  }
  .about .about-content .image::before {
    content: "";
    position: absolute;
    background-color: #ebeced;
    width: 100px;
    height: calc(100% + 80px);
    top: -40px;
    left: -20px;
    z-index: -1;
  }
  .about .about-content .image::after {
    top: -40px;
    content: "";
    position: absolute;
    width: 120px;
    height: 300px;
    border-left: 80px solid var(--main-color);
    border-bottom: 80px solid var(--main-color);
    z-index: -1;
    right: -150px;
  }
  @media (max-width: 991px) {
    .about .about-content .image::before,
    .about .about-content .image::after {
        display: none;
    }
  }
  .about .about-content .image img {
    max-width: 100%;
  }
  .about .about-content .text {
    flex-basis: calc(100% - 500px);
  }
  .about .about-content .text p:first-of-type {
    font-weight: bold;
    line-height: calc(0.4 + var(--line-height));
    margin-bottom: 50px;
  }
  .about .about-content .text hr {
    width: 50%;
    display: inline-block;
    border-color: var(--main-color);
  }
  .about .about-content .text p:last-of-type {
    line-height: calc(0.4 + var(--line-height));
    color: #777;
  }
  /* end about section */
  /* start contact section */
  .contact {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}
.contact .info {
    margin-top: 100px;
    text-align: center;
}
.contact .info .label {
    font-size: 35px;
    font-weight: 800;
    letter-spacing: -2px;
    color: var(--secondary-color);
    margin-bottom:15px ;
}
.contact .info .link {
    font-size: 35px;
    font-weight: 800;
    color: var(--main-color);
    text-decoration: none;
    display: block;
}
@media (max-width:768px) {
    .contact .info .label,
    .contact .info .link {
        font-size: 25px;
    }
}
.contact .info  .social {
    margin-top: 20px;
    font-size: 18px;
}
.contact .info  .social i {
    margin-left: 5px;
    color: var(--secondary-color);
}
/* end contact section */
/* start footer */
footer {
    height: 80px;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
footer p {
    color: white;
    
    font-weight: bold;
}
footer p span {
    color: var(--main-color);
}
/* end footer */


